footer {
  display: flex;
  padding-block: 24px;
  gap: 24px;

  font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
  margin-right: auto;
}

@media (width <= 550px) {
  footer span:nth-child(1) {
    margin-inline: auto;
  }
  footer {
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
