.actions {
  display: flex;
  justify-content: flex-end;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;

  background: var(--brand-dark);
  color: var(--text-heading);
  font: var(--body-md);
  font-weight: 600;

  padding: 12px 20px;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* hover */
.btn-primary:hover {
  background: var(--brand-mid);
}

/* clique */
.btn-primary:active {
  transform: scale(0.98);
}

.btn-primary .icon {
  width: 20px;
  height: 20px;
  background-color: var(--text-heading);

  -webkit-mask: url("/assets/ticket.svg") no-repeat center;
  mask: url("/assets/ticket.svg") no-repeat center;

  -webkit-mask-size: contain;
  mask-size: contain;
}
