.kit-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 14rem;

  & .section-header {
    text-align: center;

    & h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      font: var(--title-sm);
      color: var(--text-title);

      & img {
        margin-inline: 1rem;
        height: 2rem;
        width: 2rem;
      }
    }

    & p {
      margin-top: 5px;
      font: var(--body-md);
      color: var(--text-body);
    }
  }

  & .showcase {
    position: relative;
    width: 29rem;
    height: 38.5rem;
    margin: 0 auto;
    margin-bottom: 27rem;
    margin-top: 13.875rem;

    & img {
      position: absolute;
      pointer-events: none;
      opacity: 0;
      transition:
        transform 0.8s ease,
        opacity 0.8s ease;
    }
  }

  & .pin {
    bottom: 0;
    left: 5%;
    width: 13.875rem;
    height: 15.875rem;
    opacity: 1;
  }

  & .bookmark-yellow {
    width: 10.75rem;
    top: 10%;
    z-index: 2;
    right: -5%;
  }

  & .bookmark-purple {
    width: 10.75rem;
    top: 10%;
    right: -5%;
    z-index: 1;
  }

  & .showcase:hover img {
    opacity: 1;
  }

  & .showcase:hover .pin {
    transform: translate(-70%, 30%) rotate(-10deg);
  }

  & .showcase:hover .bookmark-yellow {
    transform: translate(90px, -170px) rotate(8deg);
  }

  & .showcase::after {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/book.png") center / contain no-repeat;
    z-index: 20;
  }

  & .showcase:hover .bookmark-purple {
    transform: translate(170px, -110px) rotate(18deg);
  }

  & .label-hardcover {
    z-index: 2;
  }

  & .showcase:hover .label-hardcover {
    transform: translate(-80%, -60%);
  }

  & .label-pin {
    z-index: 20;
    bottom: 40%;
    left: 10%;
  }

  & .showcase:hover .label-pin {
    transform: translate(-200%, 55%);
  }

  & .label-bookmark {
    z-index: 2;
    top: 30%;
    right: 0;
  }

  & .showcase:hover .label-bookmark {
    transform: translate(80%, 120%);
  }
}
